#figure-comics {
    margin: 10px;
}

#img-container {
    width: fit-content;
    height: fit-content;
    background-color: var(--yellowCard);
    padding: 30px;
    transition: 0.3s;
}

#img-comic {
    height: 300px;
    width: 200px;
}

#figcaption-comic {
    font-size: 20px;
    padding-top: 7px;
    text-align: center;
    width: 250px;
}

#img-container:hover {
    background-color: var(--orange);
    cursor: pointer;
}